<%= tinymce_assets %>

<%= simple_form_for @article, :html => {:class => 'form-horizontal'}, :url => admin_article_path(@article) do |f| %>
    <%= f.input :title %>
    <%= f.input :meta_description %>
    <%= f.input :language, :as => :select, :collection => SUPPORTED_LANGUAGES.keys.map(&:to_s), :include_blank => false %>
    <%= f.input :translation_id, :collection => @articles_for_translation, :prompt => 'Select article' %>

    <%= f.input :rubric_ids, :as => :select, :collection => @article_rubrics, :label => 'Rubrics', :input_html => {:multiple => true} %>

    <%= f.input :body, :input_html => {:class => "tinymce", 'maxlength' => 64536} %>

    <%= f.input :published %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary', :onclick => "$('simple_form.article').submit();" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_articles_path, :class => 'btn' %>
    </div>
<% end %>

<%= tinymce %>
