<!DOCTYPE html>
<html>
<head>
  <title>ZhK's blog</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="all_header">
  <div id="header_inner">
    <%= link_to t(:site_name), "/#{I18n.locale if I18n.locale != :ru }", :id => 'logo' %>
    <div id="site_menu">
      <%= link_to t(:home), "/#{I18n.locale if I18n.locale != I18n.default_locale}", :class => 'menu_links' %>
      <%= link_to t(:about_me), about_me_path, :class => 'menu_links' %>
      <%= link_to '', url_for(:controller =>controller_name, :action => action_name, :params => params, :locale => 'ru'),
                  :id => 'russian_lang', :class => 'menu_links' %>
      <%= link_to '', url_for(:controller =>controller_name, :action => action_name, :params => params, :locale => 'en'),
                              :id => '', :class => 'menu_links', :id => 'english_lang' %>
    </div>
  </div>
</div>

<div id="blur_bg">
  <div id="main_content">
    <div id="column_content">
      <div id="left_part">
        <%= content_for?(:left_part) ? yield(:left_part) : yield %>
      </div>
      <div id="right_part">
        <%= yield(:right_part) if content_for?(:right_part) %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<%= yield(:bottom) if content_for?(:bottom) %>
</body>
</html>
